$fg-th: #ffffff;
//$fg-th: #3954C8;
$fg-odd: #000000;
$fg-even: #000000;
//$bg-th: #ffffff;
$bg-th: #3954C8;
$bg-odd: #f3f3f3;
$bg-even: #ffffff;

.table {
    border: thin solid grey;
    border-radius: 1rem;
    overflow: hidden;
    border-spacing: 0;
    font-family: 'Poppins', sans-serif;

    tr {
        margin: 0;
        padding: 6px;
        border: thin solid grey;
	border-bottom: thin solid grey;

        &:first-of-type {
            color: $fg-th;
            background-color: $bg-th;
        }
        &:nth-child(odd):not(:first-of-type) {
            color: $fg-odd;
            background-color: $bg-odd;
        }
        &:nth-child(even) {
            color: $fg-even;
            background-color: $bg-even;
        }

        th, td {
            margin: 0;
            //padding: .2rem .5rem;
	    padding-left: 10px;
	    padding-right: 10px;
	    padding-top: 6px;
	    padding-bottom: 6px;
            border-bottom: thin solid grey;
        }

        th {
            color: $fg-th;
            cursor: pointer;
            font-size: 1.2rem;
            min-width: 2rem;
	    text-align: left;
	    padding-top: 12px;
	    padding-bottom: 12px;
        }

        th[data-sort=asc]::after {
            content: " (↑)";
        }

        th[data-sort=desc]::after {
            content: " (↓)";
        }
    }

    tr td:nth-child(3) {
	text-align: center;
    }
    tr td:nth-child(4) {
	text-align: center;
    }
    tr td:nth-child(5) {
	text-align: center;
    }
    tr td:nth-child(6) {
	text-align: center;
    }
    tr td:nth-child(7) {
	text-align: center;
    }
    tr td:nth-child(8) {
	text-align: center;
    }

    tr {
	padding: 6px;
	border-bottom: thin solid grey;
    }
	
    tr:hover {
	font-weight: bold;
    }
}

